{% extends "plantilla.html" %}
 
{% block css %}
<style>
    h4{
            text-align: justify;
    }
</style>
{% endblock %}

{% block escuela %}
    {% if escuela %}
        {% for itemescuela in escuela %}
        <li class="dropdown-submenu dropdown-hover" style="width: 15rem;">
            <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">
                {{itemescuela.nombre}}
            </a>
            <ul class="dropdown-menu border-0 shadow">
                <li>
                    <a class="dropdown-item" href="{% url 'curriculacarrera' itemescuela.slug %}">
                        Plan de Estudios
                    </a>
                </li>
            </ul>
        </li>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block content %}
<div style="padding: 4%;">
    <div class="container">
    <h1><b>¿Dónde realizo mi matrícula la primera vez?</b></h1><br>
    <h4>Se puede realizar via cajero. En el caso de ser tu primera matrícula el pago se realiza via cajero, se necesitará acudir a la dirección de escuela para regularizar el voucher de pago y terminar tu registro.</h4>
    <h4>Para tus siguientes ciclos tendrá habilitado la sección de SUV para poder realizar su matrícula via intranet, para ello primero debe generar su orden de pago con los cursos matriculados, realizas el pago y por último envias tu comprobante de pago a su escuela para que puedan registrarlo en su ciclo.</h4><br>

    <h1><b>¿La universidad cuenta con servicio de biblioteca?</b></h1><br>
    <h4>Si, cuenta con dos tipos de servicio para biblioteca: Uno es nuestra biblioteca ubicada en el local central de nuestra universidad, además los alumnos también tienen acceso a nuestra biblioteca virtual ubicada en nuesta <a href="https://www.unitru.edu.pe">página principal</a> en la sección de "Gestión".</h4><br>

    <h1><b>¿Donde puedo revisar mis notas o record académico?</b></h1><br>
    <h4>Para revisar sus notas es necesario que cuente con su código del carnet universitario para ingresar a la página del <a href="http://suv2.unitru.edu.pe/portal/">SUV</a> después deberá dirigirse a la parte superior izquierda para desplegar el menú y seleccionar la sección de historiales, ahí seleccionar record académico y se mostrarán las notas de todos sus ciclos así como su promedio de dicho ciclo.</h4><br>

    <h1><b>¿Cuantas semanas dura el ciclo académico regular?</b></h1><br>
    <h4>Tiene una duración de 16 semanas incluyendo aplazados y entrega de actas.</h4><br>

    <h1><b>¿Cada cuanto se renueva mi carnet universitario y de biblioteca?</b></h1>
    <h4>El carnet universitario se renueva cada año, mientras el de biblioteca es permanente, por ende no caduca.</h4><br>

    <h1><b>¿Cuál es la nota mínima aprobatoria?</b></h1><br>
    <h4>La nota mínima es 14 y el medio punto es considerado a favor del alumno.</h4>
    </div>
</div>
{% endblock %}