{% extends "plantilla.html" %}

{% load static %}

{% block escuela %}
    {% if escuela %}
        {% for itemescuela in escuela %}
        <li class="dropdown-submenu dropdown-hover" style="width: 15rem;">
            <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">
                {{itemescuela.nombre}}
            </a>
            <ul class="dropdown-menu border-0 shadow">
                <li>
                    <a class="dropdown-item" href="{% url 'curriculacarrera' itemescuela.slug %}">
                        Plan de Estudios
                    </a>
                </li>
            </ul>
        </li>
        {% endfor %}
    {% endif %}

{% endblock %}
{% block content %}
<div style="padding: 4%;">
    <div class="container">

        <h1>ORGANIGRAMA DE LA FACULTAD DE INGENIERÍA - UNT</h1><br>

        <img src="{% static '/img/organigrama.png' %}" class="rounded img-fluid mx-auto d-block" alt="organigrama">

    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
{% endblock %}