{% extends "plantilla.html" %}

{% load static %}
{% block css %}
<style>
    p{
        text-align: justify;
    }
</style>
{% endblock %}

{% block escuela %}
    {% if escuela %}
        {% for itemescuela in escuela %}
        <li class="dropdown-submenu dropdown-hover" style="width: 15rem;">
            <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">
                {{itemescuela.nombre}}
            </a>
            <ul class="dropdown-menu border-0 shadow">
                <li>
                    <a class="dropdown-item" href="{% url 'curriculacarrera' itemescuela.slug %}">
                        Plan de Estudios
                    </a>
                </li>
            </ul>
        </li>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block content %}
<div style="padding: 4%;">
    <div class="container">

        <h1>RESEÑA HISTÓRICA</h1><br>

        <p>Nuestra Universidad Nacional de Trujillo, prestigiosa institución de enseñanza superior con 196 años de creación
            ofrece a la comunidad regional, nor-oriental y nacional especialidades tecnológicas por medio de la Facultad de
            Ingeniería creada en 1972. Han transcurrido 48 años desde aquella época y el nombre de Bodas de Esmeralda se
            debe a una piedra preciosa con diversas tonalidades de color verde debido a la presencia de impurezas en su
            composición química.</p>
        <p>Durante el período de crecimiento de la Facultad de Ingeniería se ha avanzado a través de la línea del tiempo, y
            se dispone de una estructura académico-administrativa más eficiente con sistema de matrícula on line, cuerpo
            docente capacitado, sistemas curriculares modificados, nuevos pabellones de aulas y laboratorios que serán
            implementados; además de los modelos de enseñanza-aprendizaje que aplican el sistema multimedia.</p>
        <p>En nuestra Facultad se exploran los niveles cognoscitivos, afectivos y psicomotores del estudiante quien es capaz
            de comunicar sus ideas en forma verbal, mediante la expresión escrita y junto a la expresión gráfica que usa
            líneas y símbolos convencionales, permiten comunicar los proyectos e intercambiar los planos de ingeniería que
            constituyen un lenguaje gráfico universal sin importar el idioma o el continente donde se realicen los proyectos
            y en la actualidad se disponen de programas computarizados.</p>
        <p>Ocho Escuelas Académico-Profesionales vienen ofertando experiencias curriculares desde el año 1972 con la carrera
            profesional de Ing. Industrial hasta llegar al año 2012 en que empezó a funcionar Ing. Civil y pronto funcionará
            la nueva Escuela de Arquitectura y Urbanismo, ante el crecimiento del Sector Construcción del orden de 16,6 % y
            la alta demanda de postulantes en estas últimas especialidades.</p>
        <p>Es pertinente recordar que fue la Facultad de Ingeniería Química, la que con una extensa evolución histórica de
            más de 65 años dio lugar a la creación del Programa y Departamento de Ingeniería en el año 1969 al promulgarse
            la Ley Orgánica de la Universidad Peruana.</p>
        <p>El 5 de abril de 1972 se apertura el sistema de Estudios Generales y los alumnos estudiábamos en el Local Central
            de la Universidad y en la Facultad de Letras de la segunda cuadra de la calle Gamarra.</p>
        <p>En un marco de inestabilidad a fines del año 1972 se ocupa el nuevo local construido especialmente en la Ciudad
            Universitaria mediante el convenio 01 UNT/BID, que incluía la implementación con equipos, materiales y
            reactivos. Este cambio propició una mejora sustancial en la formación de los ingenieros. La Facultad de
            Ingeniería agrupaba a las especialidades de Ingeniería Química e Ing. Industrial para entonces.</p>
        <p>Ing. Industrial siempre ha sido la Escuela que ha captado los mejores cuadros de estudiantes y en los campos de
            la producción, el diseño de ingeniería, el marketing, el planeamiento estratégico, la seguridad industrial, el
            diseño de plantas industriales, el control de calidad y la evaluación de proyectos, siempre hubieron y hay
            requerimientos de las diversas organizaciones económicas.</p>
        <p>En el período de 1972 a 1980 se tuvo destacados ingenieros visitantes de Estados Unidos, de Alemania y de Polonia
            impulsando la Ingeniería en esta universidad. Son recordados: El Dr. Harold Walton de la Universidad de Colorado
            USA especialista en Métodos Instrumentales de Análisis, el Dr Andrew Block Bolten, investigador de Procesos
            Metalúrgicos, los Ingenieros voluntarios alemanes David Neudorf y Gerhard Stockhein expertos en Química
            Experimental. También se desarrolló el campo del Diseño de Ingeniería que estuvo a cargo del Ing. Egon Lacher
            promoviendo la diferencia de las proyecciones en sistema DIN y ASA, el dimensionado ISO, la importancia de los
            ensamblados y despieces de máquinas, el conocimiento de la normalización y su relación con la uniformidad en el
            trazado de los planos de ingeniería, el control de calidad y el intercambio tecnológico, promoviendo igualmente
            la enseñanza de Dibujo Industrial. Cabe resaltar la visión de aquel entonces del intercambio académico, pues
            también se capacitaron en el extranjero varios docentes alcanzando trascendencia en la vida institucional de la
            Universidad.</p>
        <p>En el año 1977 se incorporan las carreras profesionales de Ingeniería Mecánica e Ingeniería Metalúrgica, con lo
            cual al considerarse polo de desarrollo metal-mecánico a esta zona norte, se contaba en el Parque Industrial de
            Trujillo con ensambladoras de motocicletas y tractores. La fábrica MODASA ensamblaba motores y también habían
            fábricas de aros para vehículos y fundiciones diversas que requerían del concurso de especialistas en dichas
            áreas.</p>
        <p>Ing. Metalúrgica se impulsó debido a la iniciativa de los catedráticos Ing. Humberto Vega y Lucio Carranza,
            teniendo en cuenta el desarrollo experimentado por la industria minero-metalúrgica en la región y por la
            necesidad de contar con profesionales metalurgistas.</p>
        <p>El 17 de diciembre de 1983 se estabilizó el sistema facultativo y la Facultad de Ingeniería comprendía cuatro
            Escuelas Profesionales: Ingeniería Química, Ingeniería Industrial, Ingeniería Mecánica e Ingeniería Metalúrgica.
        </p>
        <p>Por Resolución Rectoral Nº 2147-93 del 12 de Noviembre de 1993 firmada por el Vicerrector Académico Ing. Juan
            Guerrero Llúncor, se decide el funcionamiento separado de la Facultad de Ingeniería Química con lo cual la
            Facultad de Ingeniería quedaba con tres especialidades.</p>
        <p>En el año 1994 se crea la Escuela de Ing. de Sistemas y debido al auge de los programas de software, el manejo de
            sistemas duros y blandos, la inteligencia artificial, las redes neuronales y el diseño de algoritmos, esta
            especialidad siempre tiene demanda alta de postulantes.</p>
        <p>El 29 de Marzo de 1996 la Asamblea Universitaria aprueba oficialmente el Currículo de Ingeniería de Materiales –
            RR Nº 0676-96-UNT, marcando el nacimiento oficial de la carrera en la UNT, estableciéndose como su fecha de
            aniversario y en el mes de Abril de 1997 ingresa la Primera Promoción.</p>
        <p>Debido al uso de nuevos materiales como los vitrocerámicos, los polímeros, cerámicos, metálicos, compuestos y
            electrónicos se diseñan componentes de máquinas, accesorios y tecnosistemas seleccionando los elementos
            apropiados.</p>
        <p>En este mismo año 1997 se creó Ing. de Minas, carrera cotizada en el mercado laboral donde se aplican los
            conocimientos y experiencias para la extracción de recursos minerales que luego se procesan. La altura, clima y
            topografía del terreno no son impedimento para acceder al trabajo y según las condiciones del entorno se
            promueve el desarrollo y crecimiento económico del país, se minimizan los cambios ambientales y se generan
            proyectos de desarrollo social, además de considerar las reservas minerales respectivas.</p>
        <p>En el periodo del 2003 al 2005 se recibe la visita de expertos españoles para ayudar al desarrollo de la
            especialidad de Ing. de Materiales.</p>
        <p>La carrera de Ing. Mecatrónica se crea en el año 2006 y donde es importante cada sistema automatizado y el
            concurso de la robótica para desarrollar proyectos creativos en este rubro. La especialidad de Ing. Civil viene
            brindando experiencias curriculares actualizadas desde el primer semestre de este año 2012.</p>
        <p>La Escuela Académico Profesional de Arquitectura y Urbanismo tiene avanzado su proyecto de funcionamiento, pues
            se creó junto con Ing. Civil en el período de 1990.</p>
        <p>Todas las especialidades de esta Facultad incluyen en sus proyecto las normas de Calidad ISO 9000, las de gestión
            del medio ambiente ISO 14000 y la certificación de laboratorios ISO 17025.</p>
        <p>Es menester recordar que en 1983 se contaba con 38 docentes incluidos profesores visitantes como el Dr Zucchi y
            el Dr. Bolten.</p>
        <p>En este año 2012 hay 88 docentes, entre regulares y contratados. El 29% tiene grado de Doctor, el 36% es Magister
            y el 35% tiene formación en especialidades de ingeniería. La escuela de Ing. Industrial cuenta con 10 doctores.
        </p>
        <p>Por semestre desarrollan sus actividades en la Facultad de Ing. 2258 alumnos y en cuanto a fecha de creación,
            vigencia de currículos, número de promociones y vacantes ofertadas se tiene:</p><br>
        <table border="2" style="width: 551px; height: 354px; margin-left: auto; margin-right: auto;" cellspacing="2"
            cellpadding="2">
            <tbody>
                <tr>
                    <td><p><span style="font-size: 12pt;">ESCUELA ACAD. PROFESIONAL</span></p></td>
                    <td><p><span style="font-size: 12pt;">AÑO DE CREACION Y/O FUNCIONAMIENTO</span></p></td>
                    <td><p><span style="font-size: 12pt;">CURRICULO VIGENTE</span></p></td>
                    <td><p><span style="font-size: 12pt;">PROMOCIONES EGRESADAS</span></p></td>
                    <td><p><span style="font-size: 12pt;">NUMERO DE VACANTES</span></p></td>
                </tr>
                <tr>
                    <td><p><span style="font-size: 12pt;">Ing. Industrial</span></p></td>
                    <td><p><span style="font-size: 12pt;">1972</span></p></td>
                    <td><p><span style="font-size: 12pt;">2007</span></p></td>
                    <td><p><span style="font-size: 12pt;">36</span></p></td>
                    <td><p><span style="font-size: 12pt;">100</span></p></td>
                </tr>
                <tr>
                    <td><p><span style="font-size: 12pt;">Ing. Mecánica</span></p></td>
                    <td><p><span style="font-size: 12pt;">1977</span></p></td>
                    <td><p><span style="font-size: 12pt;">2003</span></p></td>
                    <td><p><span style="font-size: 12pt;">31</span></p></td>
                    <td><p><span style="font-size: 12pt;">60</span></p></td>
                </tr>
                <tr>
                    <td><p><span style="font-size: 12pt;">Ing. Metalúrgica</span></p></td>
                    <td><p><span style="font-size: 12pt;">1977</span></p></td>
                    <td><p><span style="font-size: 12pt;">2000</span></p></td>
                    <td><p><span style="font-size: 12pt;">31</span></p></td>
                    <td><p><span style="font-size: 12pt;">50</span></p></td>
                </tr>
                <tr>
                    <td><p><span style="font-size: 12pt;">Ing. de Sistemas</span></p></td>
                    <td><p><span style="font-size: 12pt;">1994</span></p></td>
                    <td><p><span style="font-size: 12pt;">2001</span></p></td>
                    <td><p><span style="font-size: 12pt;">13</span></p></td>
                    <td><p><span style="font-size: 12pt;">50</span></p></td>
                </tr>
                <tr>
                    <td><p><span style="font-size: 12pt;">Ing. de Materiales</span></p></td>
                    <td><p><span style="font-size: 12pt;">1996</span></p></td>
                    <td><p><span style="font-size: 12pt;">2010</span></p></td>
                    <td><p><span style="font-size: 12pt;">12</span></p></td>
                    <td><p><span style="font-size: 12pt;">50</span></p></td>
                </tr>
                <tr>
                    <td><p><span style="font-size: 12pt;">Ing. de Minas</span></p></td>
                    <td><p><span style="font-size: 12pt;">1997</span></p></td>
                    <td><p><span style="font-size: 12pt;">2003</span></p></td>
                    <td><p><span style="font-size: 12pt;">11</span></p></td>
                    <td><p><span style="font-size: 12pt;">50</span></p></td>
                </tr>
                <tr>
                    <td><p><span style="font-size: 12pt;">Ing. Mecatrónica</span></p></td>
                    <td><p><span style="font-size: 12pt;">2006</span></p></td>
                    <td><p><span style="font-size: 12pt;">2009</span></p></td>
                    <td><p><span style="font-size: 12pt;">01</span></p></td>
                    <td><p><span style="font-size: 12pt;">50</span></p></td>
                </tr>
                <tr>
                    <td><p><span style="font-size: 12pt;">Ing. Civil</span></p></td>
                    <td><p><span style="font-size: 12pt;">2012 (F)</span></p></td>
                    <td><p><span style="font-size: 12pt;">2012</span></p></td>
                    <td><p><span style="font-size: 12pt;">-</span></p></td>
                    <td><p><span style="font-size: 12pt;">50</span></p></td>
                </tr>
                <tr>
                    <td><p><span style="font-size: 12pt;">Arquitectura y Urbanismo</span></p></td>
                    <td>&nbsp;</td>
                    <td><p><span style="font-size: 12pt;">2012</span></p></td>
                    <td><p><span style="font-size: 12pt;">-</span></p></td>
                    <td><p style="text-align: center;"><span style="font-size: 12pt;">-</span></p></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
{% endblock %}