<!DOCTYPE html>
<html lang="es">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="">

    <title>FacIng</title>

    <link rel="stylesheet" href="{% static '/vendor/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/adminlte/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="shortcut icon" href="{% static '/img/favicon.ico' %}" type="image/x-icon"/>

    {% block css %} {% endblock %}
    <style>
        .main-header {
            border-bottom: 0px transparent;
        }
        .dark-mode .navbar-dark {
            background-color: transparent;
            border-color: transparent;
            background: linear-gradient(180deg, black, transparent);
        }
    </style>
    
</head>

<body class="layout-top-nav dark-mode layout-navbar-fixed">

    <div class="wrapper">
        <nav class="main-header navbar navbar-expand-lg navbar-nav-tabs-right navbar-black navbar-dark">
            <div class="container-fluid" style="margin-left: 8%;">
                <a href="" class="navbar-brand" style="margin-right: 20%">
                    <img src="{% static '/vendor/adminlte/dist/img/logo.png' %}" alt="Logo" class="brand-image img-circle elevation-3"
                        style="opacity:.8">
                    <span class="brand-text font-weight-light navbar-brand">
                        Fac<b>Ing</b>
                    </span>
                </a>
    
                <button class="navbar-toggler order-1" style="margin-left: 20%" type="button" data-toggle="collapse"
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">
                                <i class="fas fa-fw fa-home"></i>
                                Inicio
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                <i class="fas fa-fw fa-hard-hat"></i>Nosotros
                            </a>
                            <ul class="dropdown-menu border-0 shadow">
                                <li class="dropdown-submenu dropdown-hover">
                                    <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">¿Quiénes
                                        somos?</a>
                                    <ul class="dropdown-menu border-0 shadow">
                                        <li>
                                            <a class="dropdown-item" href="{% url 'reseñahistorica' %}">
                                                Reseña Histórica
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="{% url 'misionyvision' %}">
                                                Misión y Visión
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'organigrama' %}">Organigrama</a>
                                </li>
                                <li class="dropdown-submenu dropdown-hover">
                                    <a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">Plana Docente
                                    </a>
                                    <ul class="dropdown-menu border-0 shadow">
                                        {% for itemescuelas in escuelas %}
                                        <li>
                                            <a class="dropdown-item" href="{% url 'docentes' itemescuelas.idescuela %}">
                                                {{ itemescuelas.nombre }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown">
                                <i class="fas fa-fw fa-university"></i>Carreras
                            </a>
                            <ul class="dropdown-menu border-0 shadow">

                                {% block escuela %} {% endblock %}    

                                {% for itemescuelas in escuelas %}
                                    <li>
                                        <a class="dropdown-item" href="">
                                            {{ itemescuelas.nombre }}
                                        </a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </li>
    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                                <i class="fas fa-fw fa-bahai"></i>Novedades
                            </a>
                            <ul class="dropdown-menu border-0 shadow">
                                <li>
                                    <a class="dropdown-item" href="{% url 'concursodocente' %}">Concurso Docente
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'resolucionesconsejo' %}">Resoluciones Consejo Universitario
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'virtual' %}">Virtual
                                    </a>
                                </li>
                            </ul>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'calidad' %}">
                                <i class="fas fa-fw fa-award"></i>Calidad
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'noticias' %}">
                                <i class="fas fa-bullhorn"></i>
                                Noticias
                            </a>
                        </li> 
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tesisshow' %}">
                                <i class="fas fa-book"></i>
                                Tesis
                            </a>
                        </li> 

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'preguntasfrec' %}">
                                <i class="fas fa-fw fa-question-circle"></i>FAQ
                            </a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'subirvideo' %}">
                                <i class="fas fa-fw fa-tasks"></i>Subir
                            </a>
                        </li>
                    </ul>

                </div>
                {% if request.user.is_authenticated %}
        <ul class="navbar-nav ml-auto order-1 order-md-3 navbar-no-expand">
            <li class="nav-item dropdown user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="https://picsum.photos/300/300" class="user-image img-circle elevation-2"
                        alt="{{request.user.username}}">
                    <span class="d-none d-md-inline">
                        {{request.user.first_name}} {{request.user.last_name}} 
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right"
                    style="left: inherit; right: 0px;">
                    <li class="user-header bg-success">
                        <img src="https://picsum.photos/300/300" class="img-circle elevation-2"
                            alt="{{request.user.name}}">
                        <p>
                            {{request.user.username}}
                            <small>{{request.user.email}}</small>
                            <small>Administrador</small>
                        </p>
                    </li>
                    <li class="user-footer">
                        <a class="btn btn-default btn-flat float-right  btn-block " href="{% url 'logout' %}">
                            <i class="fa fa-fw fa-power-off"></i>
                            Salir
                        </a>
                    </li>
                    <li class="user-footer">
                        <a class="btn btn-default btn-flat float-right  btn-block " href="{% url 'dashboard' %}">
                            <i class="fas fa-chalkboard"></i>
                            Administrar
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav ml-auto order-1 order-md-3 navbar-no-expand">
            <!-- Messages Dropdown Menu -->
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link">Iniciar Sesión</a>
            </li>
        </ul>
        {% endif %}
            </div>
        </nav>
        <br>
        
        {% block content %}{% endblock %}
    </div>
   
    {% block scripts %} 
    {% endblock %}

    <script src="{% static '/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/vendor/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
    <script src="{% static '/vendor/adminlte/dist/js/adminlte.min.js' %}"></script>

</body>
</html>
